.Rproj.user
.Rhistory
.RData
.Ruserdata

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# MS Word documents #
*.[dD][oO][cC]*

# HTML documents #
*.[hH][tT][mM][lL]
