.Rproj.user
.Rhistory
.RData
.Ruserdata

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# Ad-hoc files/folders
reviews/2025-01/data/
reviews/2025-01/last-review/
